@media only screen and (min-width: 800px) {
	header img {
        height: auto;
        width: 128px;
	}
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block;
		padding:.75rem;
		flex:1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li:nth-child(2) {
		display: none;
	}
	.weathersummary{
		height: 250px;
	}
	/*Gallery Specific CSS*/
	.gallery {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	figure:hover {
		box-shadow: 0 0 50px #333;
	}
}