@media only screen and (min-width: 500px) {
    /*Common Site CSS*/

    /*Home Specific CSS*/


    /*City Specific CSS*/


    /*Contact Specific CSS*/


    /*Directory Specific CSS*/

    
    /*Join Specific CSS*/
    form fieldset{
		max-width: 500px;
		margin: 2rem auto;
	}
	form label.top input,form label.top select, form textarea{
		max-width: 20rem;
	}
	form input.submitBtn {
		max-width: 30%;
		margin: 2rem 35%;
	}
}