@media only screen and (min-width: 500px) {
	header img {
        height: 128px;
        width: 128px;
	}

	h1 {
        font-size: 2rem;
	}

	.subhead {
        margin-left: 25px;
        margin-top: -1em;
	}
	.weathersummary{
		height: auto;
	}
	.weathersummary p{
		font-size: 100%;
	}
	.weathersummary h3{
		font-size: 100%;
	}
	.forcast h3{
		margin-bottom: -.5em;
	}
	.forcast{
		font-family: 'Roboto', sans-serif;
		display: block; 
		margin: 0 auto;
		position: relative;
		text-align: center;
		max-width: 650px;
		padding-bottom: 2em;
	}
	.forcasttable{
		margin: 0 auto;
		display: flex;
		justify-content:center;
		max-width: 600px;
	}
	.forcastday{
		display: block;
		text-align: center;
		background-color: #c6D8ff;
		border: 1px solid black;
		width: 100px;
		height: 125px;
		margin-top: 0;
		margin-left: -1px;
	}
	.forcastday :first-child{
		background-color: #1c263F;
		color: white;
		margin: auto;
		padding: .75em;
	}
	.forcastday img{
		margin: 0 auto;
		margin-top: .25em;
		margin-bottom: 0;
		height: 50px;
		width: auto;
	}
	.forcastday :nth-child(3){
		margin: auto;
	}
	.articlecontain{
		width: 200px;
		height: auto;
		float: right;
		margin-right: 2em;
		margin-left: .5em;
	}

	.contact{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.contactinfo{
		padding: .5em;
		margin-right: .25em;
	}
	.map{
		display: block;
		width: 100%;
		margin-top: .5em;
		padding: .5em;
		border: 1px solid black;
		border-radius: .25em;
		box-shadow: .5em .25em #999;
	}
	.social img{
		width: 2em;
		margin-right: 1em;
	}
	/*Gallery Specific CSS*/
	.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
	}
	figure:hover {
		box-shadow: 0 0 0 0 white;
	}
}